In [3]:
import pandas as pd
import numpy as np

file_path = '..\\data\\sales-data-raw.csv'
df = pd.read_csv(file_path, index_col='ADDRESS') 

df = df[~df.index.duplicated(keep='first')]

df.head()

,LIST_PRICE,SOLD_ON,SELL_PRICE,DOM,BDRMS,BDRMS+,SIZE_SQFT,AGE,STYLE,BSMT,...,ASS_AMT,TAX_YR,TAX_AMT,LOT_DPTH,LOT_FRNT,PARCEL_NO,COMMUNITY,TYPE,LAT,LON
ADDRESS,,,,,,,,,,,,,,,,,,,,,
1 Darby Road,"$799,900",['Sold on Sep 21 2021'],"$961,000",4,4,-,1500-2000,31-50 years,2-Storey,Full,...,-,2021,5061.76,110.05,58.51,-,Onward Willow,ResidentialProperty,43.5219349,-80.2804549
1 Eastview Road,"$774,900",['Sold on Jul 17 2021'],"$890,000",4,3,-,-,-,Bungalow,Finished,...,-,2021,4685,66.56,128.00,-,Grange Hill East,ResidentialProperty,43.564967,-80.24186
1 Fernbank Place,"$1,199,900",['Sold on Sep 17 2021'],"$1,385,000",6,3,-,2000-2500,31-50 years,2-Storey,Finished,...,544000,2021,6110,-,93.00,-,Kortright Hills,ResidentialProperty,43.502716,-80.237331
1 Porter Drive,"$989,888",['Sold on May 17 2021'],"$1,065,000",7,4,2,-,-,2-Storey,Finished,...,-,2021,6042,-,48.75,-,Pine Ridge,ResidentialProperty,43.506626,-80.189371
1 Simmonds Drive,"$899,900",['Sold on May 26 2021'],"$999,000",5,3,-,2000-2500,6-15 years,2-Storey,Finished,...,-,2021,5053,115,47.00,713581046,Brant,ResidentialProperty,43.5791034,-80.269716

In [4]:
#capitalize addresses (i.e. index column) and remove trailing space 
df.index = df.index.str.upper()
df.index = df.index.str.strip()

In [5]:
#clean LIST_PRICE and SELL_PRICE columns
df['LIST_PRICE'] = df['LIST_PRICE'].str.replace('$', '', regex=True)
df['LIST_PRICE'] = df['LIST_PRICE'].str.replace(',', '', regex=True)
df['LIST_PRICE'] = df['LIST_PRICE'].replace('-', np.nan, regex=True)
df['LIST_PRICE'] = df['LIST_PRICE'].astype(float)

df['SELL_PRICE'] = df['SELL_PRICE'].str.replace('$', '', regex=True)
df['SELL_PRICE'] = df['SELL_PRICE'].str.replace(',', '', regex=True)
df['SELL_PRICE'] = df['SELL_PRICE'].replace('-', np.nan, regex=True)
df['SELL_PRICE'] = df['SELL_PRICE'].astype(float)

#clean SOLD_ON column
df['SOLD_ON'] = df['SOLD_ON'].str.replace("Sold on ", '', regex=True)
df['SOLD_ON'] = df['SOLD_ON'].str.replace("[", '', regex=True)
df['SOLD_ON'] = df['SOLD_ON'].str.replace("'", '', regex=True)
df['SOLD_ON'] = df['SOLD_ON'].str.replace("]", '', regex=True)
df['SOLD_ON'] = df['SOLD_ON'].str.replace(" 2021", ', 2021', regex=True)

df['SOLD_ON'] = df['SOLD_ON'].str.replace("Jan", 'January', regex=True)
df['SOLD_ON'] = df['SOLD_ON'].str.replace("Feb", 'February', regex=True)
df['SOLD_ON'] = df['SOLD_ON'].str.replace("Mar", 'March', regex=True)
df['SOLD_ON'] = df['SOLD_ON'].str.replace("Apr", 'April', regex=True)
df['SOLD_ON'] = df['SOLD_ON'].str.replace("Jun", 'June', regex=True)
df['SOLD_ON'] = df['SOLD_ON'].str.replace("Jul", 'July', regex=True)
df['SOLD_ON'] = df['SOLD_ON'].str.replace("Aug", 'August', regex=True)
df['SOLD_ON'] = df['SOLD_ON'].str.replace("Sep", 'September', regex=True)
df['SOLD_ON'] = df['SOLD_ON'].str.replace("Oct", 'October', regex=True)
df['SOLD_ON'] = df['SOLD_ON'].str.replace("Nov", 'November', regex=True)
df['SOLD_ON'] = df['SOLD_ON'].str.replace("Dec", 'December', regex=True)

In [6]:
#clean DOM column
df['DOM'] = df['DOM'].replace('-', np.nan, regex=True)
df['DOM'] = df['DOM'].astype(float)

#clean BDRMS column
df['BDRMS'] = df['BDRMS'].replace('-', np.nan, regex=True)
df['BDRMS'] = df['BDRMS'].astype(float)

#clean BDRMS+ column
df['BDRMS+'] = df['BDRMS+'].replace('-', np.nan, regex=True)
df['BDRMS+'] = df['BDRMS+'].astype(float)

In [7]:
#clean SIZE_SQFT column
df['SIZE_SQFT'] = df['SIZE_SQFT'].str.replace(r'(?<=-)[0-9]', '', regex=True)
df['SIZE_SQFT'] = df['SIZE_SQFT'].str.replace(r'(?<=-)[0-9]', '', regex=True)
df['SIZE_SQFT'] = df['SIZE_SQFT'].str.replace(r'(?<=-)[0-9]', '', regex=True)
df['SIZE_SQFT'] = df['SIZE_SQFT'].str.replace(r'(?<=-)[0-9]', '', regex=True)
df['SIZE_SQFT'] = df['SIZE_SQFT'].str.replace('< ', '', regex=True)
df['SIZE_SQFT'] = df['SIZE_SQFT'].str.replace('-', '', regex=True)

df['SIZE_SQFT'] = df['SIZE_SQFT'].replace('', np.nan, regex=True)
df['SIZE_SQFT'] = df['SIZE_SQFT'].astype(float)

In [8]:
#clean AGE column
df['AGE'] = df['AGE'].str.replace(' years', '', regex=True)
df['AGE'] = df['AGE'].str.replace(r'[0-9](?=-)', '', regex=True)
df['AGE'] = df['AGE'].str.replace(r'[0-9](?=-)', '', regex=True)
df['AGE'] = df['AGE'].str.replace('-', '', regex=True)
df['AGE'] = df['AGE'].str.replace('+', '', regex=True)
df['AGE'] = df['AGE'].str.replace('New', '0', regex=True)

df['AGE'] = df['AGE'].replace('', np.nan, regex=True)
df['AGE'] = df['AGE'].astype(float)

In [9]:
#clean ASS_YR column
df['ASS_YR'] = df['ASS_YR'].replace('-', '', regex=True)
df['ASS_YR'] = df['ASS_YR'].replace('', np.nan, regex=True)
df['ASS_YR'] = df['ASS_YR'].astype(float)

#clean ASS_AMT column
df['ASS_AMT'] = df['ASS_AMT'].replace('-', '', regex=True)
df['ASS_AMT'] = df['ASS_AMT'].replace('', np.nan, regex=True)
df['ASS_AMT'] = df['ASS_AMT'].astype(float)

#clean TAX_YR column
df['TAX_YR'] = df['TAX_YR'].replace('-', '', regex=True)
df['TAX_YR'] = df['TAX_YR'].replace('', np.nan, regex=True)
df['TAX_YR'] = df['TAX_YR'].astype(float)

#clean TAX_AMT column
df['TAX_AMT'] = df['TAX_AMT'].replace('-', '', regex=True)
df['TAX_AMT'] = df['TAX_AMT'].replace('', np.nan, regex=True)
df['TAX_AMT'] = df['TAX_AMT'].astype(float)

In [10]:
#clean LOT_DPTH column
df['LOT_DPTH'] = df['LOT_DPTH'].replace('-', '', regex=True)
df['LOT_DPTH'] = df['LOT_DPTH'].replace('', np.nan, regex=True)
df['LOT_DPTH'] = df['LOT_DPTH'].astype(float)

#clean LOT_FRNT column
df['LOT_FRNT'] = df['LOT_FRNT'].replace('-', '', regex=True)
df['LOT_FRNT'] = df['LOT_FRNT'].replace('', np.nan, regex=True)
df['LOT_FRNT'] = df['LOT_FRNT'].astype(float)

In [11]:
#convert LON and LAT to float
df['LON'] = df['LON'].apply(lambda x : np.nan if x == '-' else x)
df['LON'] = df['LON'].astype(float)

df['LAT'] = df['LAT'].apply(lambda x : np.nan if x == '-' else x)
df['LAT'] = df['LAT'].astype(float)

In [12]:
df.head()

,LIST_PRICE,SOLD_ON,SELL_PRICE,DOM,BDRMS,BDRMS+,SIZE_SQFT,AGE,STYLE,BSMT,...,ASS_AMT,TAX_YR,TAX_AMT,LOT_DPTH,LOT_FRNT,PARCEL_NO,COMMUNITY,TYPE,LAT,LON
ADDRESS,,,,,,,,,,,,,,,,,,,,,
1 DARBY ROAD,799900.0,"September 21, 2021",961000.0,4.0,4.0,NaN,1500.0,50.0,2-Storey,Full,...,NaN,2021.0,5061.76,110.05,58.51,-,Onward Willow,ResidentialProperty,43.521935,-80.280455
1 EASTVIEW ROAD,774900.0,"July 17, 2021",890000.0,4.0,3.0,NaN,NaN,NaN,Bungalow,Finished,...,NaN,2021.0,4685.00,66.56,128.00,-,Grange Hill East,ResidentialProperty,43.564967,-80.241860
1 FERNBANK PLACE,1199900.0,"September 17, 2021",1385000.0,6.0,3.0,NaN,2000.0,50.0,2-Storey,Finished,...,544000.0,2021.0,6110.00,NaN,93.00,-,Kortright Hills,ResidentialProperty,43.502716,-80.237331
1 PORTER DRIVE,989888.0,"May 17, 2021",1065000.0,7.0,4.0,2.0,NaN,NaN,2-Storey,Finished,...,NaN,2021.0,6042.00,NaN,48.75,-,Pine Ridge,ResidentialProperty,43.506626,-80.189371
1 SIMMONDS DRIVE,899900.0,"May 26, 2021",999000.0,5.0,3.0,NaN,2000.0,15.0,2-Storey,Finished,...,NaN,2021.0,5053.00,115.00,47.00,713581046,Brant,ResidentialProperty,43.579103,-80.269716

In [13]:
df.to_csv('..\\data\\sales-data-clean.csv')

# =END OF WORKING CODE=

In [ ]:
import csv
file_path = '..\\data\\raw\\addresses-base.csv'

with open(file_path, encoding='utf-8', newline='') as file:
    addresses_base = list(csv.reader(file))

addresses_base[:10]

In [27]:
def nested_list_contains(nl, target):
    for thing in nl:
        if type(thing) is list:
            if nested_list_contains(thing, target):
                return thing
        if thing == target:
            return thing
    return False

In [ ]:
index = df.index
for i in index:
    try:
        address_to_find = i.strip()
        thing = nested_list_contains(addresses_base, address_to_find)
        add_id = thing[0]
        df.at[i, 'ADD_ID'] = add_id
    except:
        df.at[i, 'ADD_ID'] = np.nan

df.head()

In [30]:
import requests

def get_coords(address_to_fetch):

    url = 'https://nominatim.openstreetmap.org/search/' + address_to_fetch +'?format=json'

    response = requests.get(url).json()
    lat = response[0]["lat"]
    lon = response[0]["lon"]

    return lat, lon

index = df.index
for address in index:
    try:
        address_to_fetch = address + "Guelph Ontario"
        lat, lon = get_coords(address_to_fetch)
        df.at[address, 'LAT'] = lat
        df.at[address, 'LON'] = lon
    except:
        df.at[address, 'LAT'] = np.nan
        df.at[address, 'LON'] = np.nan