In [24]:
# PREPROCESSING & DATA LOADING
import pandas as pd
import numpy as np

# DEFINE THE DATASET
sales_data = pd.read_csv('..\\data\\train.csv', index_col='ADDRESS')
sales_data = sales_data.select_dtypes(include=[np.number])
#sales_data = sales_data.dropna(axis=0)

# drop columns by Name
sales_data = sales_data.drop(['Unnamed: 0','FID','GPID', 'DA_ID'], axis=1)
#sales_data = sales_data.drop(['pop_chng_p'], axis=1)

# convert negative values to absolute 
sales_data['LON'] = sales_data['LON'].abs()

# define X and y
X = sales_data.loc[:, sales_data.columns != 'SELL_PRICE']   #independent columns
y = sales_data.SELL_PRICE                                   #target column i.e. sale prices

X.tail()

,shp__area,pop_2016,pop_2011,pop_chng_p,pop_dens,land_area,dwell_dens,0_14_yrs,15_64_yrs,65_plus_yr,...,SIZE_SQFT,AGE,ASS_YR,ASS_AMT,TAX_YR,TAX_AMT,LOT_DPTH,LOT_FRNT,LAT,LON
ADDRESS,,,,,,,,,,,,,,,,,,,,,
70 VICTORIA ROAD NORTH,42529.488281,682.0,636.0,7.2,2393.0,0.3,1058.6,100.0,460.0,120.0,...,1100.0,99.0,2021.0,322000.0,2021.0,3679.00,103.00,50.00,43.559887,80.235244
37 TRIMBLE CRESCENT,8954.023438,3631.0,3119.0,16.4,3210.4,1.1,1020.4,1015.0,2420.0,195.0,...,2000.0,15.0,2021.0,539000.0,2021.0,6158.66,NaN,32.00,43.571502,80.226234
27 BAXTER DRIVE,6048.781250,4493.0,3214.0,39.8,3611.7,1.2,1299.2,1055.0,3105.0,335.0,...,2500.0,15.0,2021.0,734000.0,2021.0,8241.72,117.29,52.58,43.515029,80.178900
16 TIFFANY STREET EAST,1924.609375,433.0,450.0,-3.8,1832.4,0.2,816.7,70.0,310.0,50.0,...,1100.0,100.0,2021.0,367000.0,2020.0,3772.75,67.33,21.17,43.553007,80.259684
33 VANCOUVER DRIVE,76833.640625,546.0,531.0,2.8,2798.6,0.2,1220.0,95.0,360.0,90.0,...,700.0,99.0,NaN,NaN,2021.0,3279.00,NaN,47.01,43.561033,80.238520

In [20]:
#DEALING WITH MISSING VALUES
from sklearn.impute import SimpleImputer

# Imputation
my_imputer = SimpleImputer(strategy='mean')
imputed_X = pd.DataFrame(my_imputer.fit_transform(X), columns=X.columns)
#imputed_val_X = pd.DataFrame(my_imputer.transform(val_X))

imputed_X.tail()

,Shape__Are,DAUID,pop_2016_2,pop_2011,pop_chng_p,pop_dens,land_area,dwell_dens,0_14_yrs,15_64_yrs,...,SIZE_SQFT,AGE,ASS_YR,ASS_AMT,TAX_YR,TAX_AMT,LOT_DPTH,LOT_FRNT,LAT,LON
467,14815.160156,35230227.0,2324.0,1150.0,102.1,1102.3,2.1,392.4,555.0,1565.0,...,1511.235955,15.000000,2020.673171,440836.158416,2021.0,5713.05,108.25,29.80,43.573711,80.234007
468,15908.058594,35230157.0,615.0,614.0,0.2,1614.6,0.4,823.7,80.0,450.0,...,2500.000000,100.000000,2020.673171,440836.158416,2021.0,8440.00,112.20,55.42,43.553506,80.251540
469,39984.929688,35230086.0,499.0,503.0,-0.8,4970.1,0.1,3020.0,60.0,330.0,...,1511.235955,54.723529,2020.673171,440836.158416,2021.0,6352.91,138.00,60.00,43.548258,80.257945
470,7780.023438,35230221.0,803.0,776.0,3.5,5378.4,0.2,2526.7,120.0,620.0,...,3500.000000,100.000000,2020.673171,440836.158416,2020.0,8769.40,106.50,53.08,43.545547,80.258632
471,81609.167969,35230059.0,686.0,690.0,-0.6,3251.2,0.2,1352.4,90.0,390.0,...,1511.235955,50.000000,2021.000000,349000.000000,2020.0,3918.72,97.40,60.01,43.562850,80.258103

In [ ]:
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

# Split into validation and training data
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state=1)

### Recycled - To Be Reused

In [ ]:
# DEFINING THE MODEL(S)
# Specify Model
prediction_model = DecisionTreeRegressor(random_state=1)
# Fit Model
prediction_model.fit(train_X, train_y)

# Make validation predictions and calculate mean absolute error
val_predictions = prediction_model.predict(val_X)
val_mae = mean_absolute_error(val_predictions, val_y)
print("Validation MAE when not specifying max_leaf_nodes: {:,.0f}".format(val_mae))

# Using best value for max_leaf_nodes
prediction_model = DecisionTreeRegressor(max_leaf_nodes=100, random_state=1)
prediction_model.fit(train_X, train_y)
val_predictions = prediction_model.predict(val_X)
val_mae = mean_absolute_error(val_predictions, val_y)
print("Validation MAE for best value of max_leaf_nodes: {:,.0f}".format(val_mae))

# Define the random forest model. Set random_state to 1
rf_model = RandomForestRegressor(random_state=1)
# fit your model
rf_model.fit(train_X, train_y)

preds = rf_model.predict(val_X)
# Calculate the mean absolute error of your Random Forest model on the validation data
rf_val_mae = mean_absolute_error(val_y, preds)

print("Validation MAE for Random Forest Model: {:,.0f}".format(rf_val_mae))

In [ ]:
#CALCULATING PERMUTATION IMPORTANCE
import numpy as np
import eli5
from eli5.sklearn import PermutationImportance

feature_names = [i for i in sales_data.columns if sales_data[i].dtype in [np.int64]]

perm = PermutationImportance(rf_model, random_state=1).fit(val_X, val_y)
eli5.show_weights(perm, feature_names = val_X.columns.tolist())

In [ ]:
#DEALING WITH MISSING VALUES
from sklearn.impute import SimpleImputer

# Imputation
my_imputer = SimpleImputer()
imputed_train_X = pd.DataFrame(my_imputer.fit_transform(train_X))
imputed_val_X = pd.DataFrame(my_imputer.transform(val_X))

# Imputation removed column names; put them back
imputed_train_X.columns = train_X.columns
imputed_val_X.columns = val_X.columns

# Function for comparing different approaches
def score_dataset(train_X, val_X, train_y, val_y):
    model = RandomForestRegressor(random_state=1)
    model.fit(train_X, train_y)
    preds = model.predict(val_X)
    return mean_absolute_error(val_y, preds)

imputed_MAE = score_dataset(imputed_train_X, imputed_val_X, train_y, val_y)
print("Validation MAE from imputation: {:,.0f}".format(imputed_MAE))

In [ ]:
# APPLYING CROSS-VALIDATION USING K-FOLDS
from sklearn.model_selection import cross_val_score

# Multiply by -1 since sklearn calculates *negative* MAE
scores = -1 * cross_val_score(rf_model, X, y,
                              cv=5,
                              scoring='neg_mean_absolute_error')

print("MAE scores:\n", scores)

print("Average MAE score (across experiments): {:,.0f}".format(scores.mean()))

In [ ]:
#USING XGBOOST
from xgboost import XGBRegressor

my_model = XGBRegressor(n_estimators=1000, learning_rate=0.05)
my_model.fit(train_X, train_y, 
             early_stopping_rounds=5, 
             eval_set=[(val_X, val_y)],
             verbose=False)

predictions = my_model.predict(val_X)

print("Mean Absolute Error: " + str(mean_absolute_error(predictions, val_y)))